<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>FreelancePlatform</title>
</head>
<body>

    <div th:fragment="navbar(activeLink)">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/">Freelancer Platform</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/">Action</a>
                            <a class="dropdown-item" href="/">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/">Something else here</a>
                        </div>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/"
                           th:classappend="${activeLink == 'home'}? 'active'"
                           th:text="#{nav_bar_home}"
                        >Home </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/job-listings"
                           th:classappend="${activeLink == 'job-listings'}? 'active'"
                           th:text="#{nav_bar_job_listings}"
                        >Job Listings</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/contracts"
                           th:classappend="${activeLink == 'contracts'}? 'active'"
                            th:text="#{nav_bar_contracts}"
                        >Contracts</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/applications"
                           th:classappend="${activeLink == 'applications'}? 'active'"
                            th:text="#{nav_bar_applications}"
                        >Applications</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/reviews"
                           th:classappend="${activeLink == 'reviews'}? 'active'"
                            th:text="#{nav_bar_reviews}"
                        >Reviews</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <div class="form-inline my-0 my-lg-0 border px-0">
                            <div class="logged-user"></div>
                            <form th:method="post"
                                  th:action="@{/users/logout}">
                                <input class="btn btn-link" type="submit" th:value="#{nav_bar_logout}"/>
                            </form>
                        </div>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/applications/freelancer"
                           th:classappend="${activeLink == 'freelancer'}? 'active'"

                        >MyApplications</a>
                    </li>

                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="/users/register"
                           th:classappend="${activeLink == 'register'}? 'active'"
                           th:text="#{nav_bar_register}">Register</a>
                    </li>

                    <li class="nav-item" sec:authorize=="!isAuthenticated()">
                        <a class="nav-link" href="/users/login"
                           th:classappend="${activeLink == 'login'}? 'active'"
                           th:text="#{nav_bar_login}">
                            Login
                        </a>
                    </li>

                    <li class="nav-item">

                        <form th:method="get">
                            <label class="text-white" for="lang" th:text="#{nav_bar_language}">Language</label>
                            <select
                                    id="lang"
                                    name="lang"
                                    onchange="this.form.submit()">
                                <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                                <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                            </select>
                        </form>

                    </li>
                </ul>
            </div>
        </nav>

    </div>
</body>
</html>